@{
    ViewData["Title"] = "Home Page";
}

@model IReadOnlyCollection<ESExampleApp.Core.Person>

@using (Html.BeginForm("Index", "SQL", FormMethod.Post))
{
<div class="row">
    <div class="col-md-2">
        <label>Search:</label>
    </div>
    <div class="col-md-9">
        <input class="form-control" name="search" />
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary">Search</button>
    </div>
</div>
}

<br />
<br />


<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Job Description
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>
                        @person.FullName
                    </td>
                    <td>
                        @person.JobDescription
                    </td>
                    <td>
                        <button class="btn">@Html.ActionLink("Edit", "Edit", "Home", new { id = person.Id }) </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>